.wrapper {
    padding: 9rem 0;
    text-align: center;
  }
  
  .container {
    h2 {
      font-size: 10rem;
    }
  
    h3 {
      font-size: 4.2rem;
    }
  
    p {
      margin: 2rem 0;
    }
  }
  
  button {
    /* Add your styles for the button here */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fe5b29;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    /* Add your styles for the button hover state here */
    background-color: #363636;
  }
  